version: "3.9"

services:
  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=datagems
    volumes:
      - .:/code

  neo4j:
    image: neo4j:5.14
    container_name: neo4j_db
    ports:
      - "7474:7474"   # Browser
      - "7687:7687"   # Bolt
    environment:
      - NEO4J_AUTH=neo4j/datagems
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
